<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Images/favicon.ico" type="image/gif" sizes="16x16">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
    <title>Detail's of customer</title>
</head>
<body>
<!-- <h1 style="text-align: center; font-family: font-family: 'Girassol', cursive; font-size: 50px; background-color: bisque;color: #4b778d;font-style: italic;">Customer Details</h1> -->
    <table class="table table-dark  table-striped table-bordered table-hover table-responsive">
        <thead class="thead-dark">
          <tr class="table-dark">
            <th scope="col">Customer ID.</th>
            <th scope="col">Customer Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Account No</th>
            <th scope="col">Balance</th>
        </tr>
    </thead>
       <tbody>
           
        <% for (var i = 0; i < set.length; i++) { %>
          <tr >
            <td  align="center"><%= set[i].customer_id %></td>
            <td><%= set[i].customer_name %></td>
            <td><%= set[i].email %></td>  
            <td><%= set[i].account_no %></td>
            <td><%= set[i].balance %></td>
           
          </tr>    
         <% } %>
       </tbody> 
      
   </table>
 

   
</body>
</html>